127.0.0.1 localhost
127.0.0.1 {{ ansible_hostname }}

# Ticketbis devel hosts
127.0.0.1 www.ticketbis.com.local 
127.0.0.1 www.ticketbis.com.ar.local 
127.0.0.1 www.ticketbis.com.br.local 
127.0.0.1 www.ticketbis.it.local 
127.0.0.1 www.ticketbis.com.mx.local 
127.0.0.1 www.ticketbis.com.pt.local 
127.0.0.1 www.ticketbis.net.local
127.0.0.1 www.ticketbis.cl.local
127.0.0.1 www.ticketbis.de.local
127.0.0.1 www.ticketbis.ru.local
127.0.0.1 www.ticketbis.com.uy.local
127.0.0.1 www.ticketbis.com.hk.local
127.0.0.1 www.ticketbis.co.za.local
127.0.0.1 www.ticketbis.com.sg.local
127.0.0.1 www.ticketbis.com.tw.local
127.0.0.1 www.ticketbis.jp.local

127.0.0.1 ticketbis.cl.local
127.0.0.1 ticketbis.com.co.local
127.0.0.1 ticketbis.com.ve.local
127.0.0.1 ticketbis.com.pe.local
127.0.0.1 ticketbis.net.local
127.0.0.1 ticketbis.ru.local
127.0.0.1 ticketbis.com.pt.local
127.0.0.1 ticketbis.de.local
127.0.0.1 ticketbis.com.br.local
127.0.0.1 ticketbis.com.local
127.0.0.1 ticketbis.com.tw.local

127.0.0.1 edit.ticketbis.de.local
127.0.0.1 edit.ticketbis.ru.local
127.0.0.1 edit.ticketbis.com.pt.local
127.0.0.1 edit.entradas.elmundo.es.local
127.0.0.1 edit.mttickets.com.local
127.0.0.1 edit.tickets.mediotiempo.com.local
127.0.0.1 edit.tixabroad.com.local
127.0.0.1 edit.ticketbis.cl.local
127.0.0.1 edit.ticketbis.com.co.local
127.0.0.1 edit.ticketbis.com.pe.local
127.0.0.1 edit.ticketbis.com.ve.local

127.0.0.1 secure.ticketbis.cl.local
127.0.0.1 secure.ticketbis.com.co.local
127.0.0.1 secure.ticketbis.com.ve.local
127.0.0.1 secure.ticketbis.com.pe.local
127.0.0.1 secure.ticketbis.de.local
127.0.0.1 secure.ticketbis.ru.local
127.0.0.1 secure.ticketbis.com.pt.local
127.0.0.1 secure.ticketbis.com.local
127.0.0.1 secure.ticketbis.com.ar.local
127.0.0.1 secure.ticketbis.com.br.local
127.0.0.1 secure.ticketbis.it.local
127.0.0.1 secure.ticketbis.com.mx.local
127.0.0.1 secure.ticketbis.com.pt.local
127.0.0.1 secure.ticketbis.net.local
127.0.0.1 secure.ticketbis.de.local
127.0.0.1 secure.ticketbis.ru.local 
127.0.0.1 ticketbislatino.com.local

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts
